force-app/main/default/flows/Account_Health_Score_Tier_Setter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>GreenScore</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>70.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>YellowScore</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>40.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Score_Range</name>
        <label>Score Range</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Red</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Red</defaultConnectorLabel>
        <rules>
            <name>Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Health_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GreenScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Greeb</targetReference>
            </connector>
            <label>Green</label>
        </rules>
        <rules>
            <name>Yellow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Health_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>YellowScore</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Health_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GreenScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Yellow</targetReference>
            </connector>
            <label>Yellow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Health Score Tier Setter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Health Score Tier Setter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Greeb</name>
        <label>Set Greeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Risk_Tier__c</field>
            <value>
                <stringValue>Green</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Red</name>
        <label>Set Red</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Risk_Tier__c</field>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Yellow</name>
        <label>Set Yellow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Risk_Tier__c</field>
            <value>
                <stringValue>Yellow</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Score_Range</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Health_Score__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
